// home
.wrapper-home {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn1.vox-cdn.com/thumbor/0ROFLiBMsMHObYspNuQI7mL72c4=/0x144:1000x707/1310x737/cdn0.vox-cdn.com/uploads/chorus_image/image/45561156/shutterstock_135008288.0.0.jpg");
}

.home-content {
    background-color: black;
    max-width: 600px;
    margin: auto;
    padding: 40px 20px;
}

.home-tagline {
  color: #d9910a;
  font-family:  Courier;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}
