<div class="wrapper-home">
  <div class="home-content">
    <div class="home-tagline">
      Feeling thirsty?
    </div>
    <div class="form">
      <%= form_tag brewers_path, method: "get"  do %>
      <%= text_field_tag "zipcode", nil, pattern: '\d{4}\s?[a-zA-Z]{2}', :placeholder => "fill in your zipcode", class: "input-postcode", autocomplete: "off", title: "e.g. 1234AZ", required: true %> <br>
      <div class="text-center">
      <%= submit_tag "find beer", class: "btn-beer" %>
      </div>
      <% end %>
    </div>

  </div>
</div>

