.form {
  .input-postcode {
    text-align: center;
    font-size: 52px;
    background-color: rgba(21, 21, 23, 0);
    max-width: 500px;
    border: none;
    margin: 10px;
    color: white;
    &:focus {
      border: none;
    }
  }
}

.form {
  .btn-beer {
      color: rgb(216, 216, 216);
      font-size: 40px;
      border: 2px solid #d9910a;
      margin: 10px;
      padding: 10px 15px;
      background-color: rgba(21, 21, 23, 0.5);
      &:hover {
        color: black;
        background-color: #d9910a;
      }
    }
}

.text-center {
  text-align: center;
}

