// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
  color: white;
}
// home
.wrapper-home {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-tagline {
  color: white;
  font-family: Helvetica;
  font-size: 60px;
}
